<style>

#header{
  margin-top: 5px;
}

</style>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Lab-9</a>
     
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul id="header" class="nav navbar-nav navbar-right">
        <a  href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Logout ? ')"> Logout</a>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
