{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-my-friend" %}',
                success: function (response) {
                var a = response.json
                a = JSON.parse(a)

    
                    for (var i = 0; i < a.length; i++) {
                        html = '<a class="list-group-item clearfix">' +a[i].fields.friend_name+" ("+a[i].fields.npm+')' +'<span data-id="'+a[i].pk+'" class="glyphicon glyphicon-remove" data-url="delete-friend/'+a[i].pk+'" style="color: red;position: absolute;top: 8px;right: 16px;"></span>'+'</a>';
                    $("#friend-list").append(html)
                    }
                },
                error: function(error){
                    alert('Data kosong');
                }
            });
            
            $('#friend-list').on('click', '.list-group-item .glyphicon', function() {
                $(this).closest('.list-group-item').remove();
                $.ajax({
                method: "GET",
                url: $(this).data('url'),
                success: function (response) {
                    
                },
                error: function(error){
                    alert("crot");
                }
            });
            });

            
        });
    </script>


{% endblock %}
